/* -----------------------------------------------------------------
    GLOBAL STYLE
 ----------------------------------------------------------------*/

html {
    font-size: 1em;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #373737;
    background: #eaeaea;
}

.container {
    max-width: 1260px;
    background: #fff;
}

