/* -----------------------------------------------------------------
    GLOBAL STYLE
 ----------------------------------------------------------------*/

html {
    font-size: 1em;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #373737;
    background: #eaeaea;
}

.container {
    max-width: 1260px;
    background: #fff;
}


/* -----------------------------------------------------------------
    HEADER
 ----------------------------------------------------------------*/

header h1 {
    font-size: 1.618em;
    font-weight: 800;
    line-height: 1;
}

header h2 {
    font-size: 1.618em;
    font-weight: 300;
}
