/* -------------------------------------------------------------
      Photos overlay transitions
---------------------------------------------------------------*/

.overlay {
    opacity: 0;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.overlay:hover {
    opacity: 1;
}


/* -------------------------------------------------------------
      Button transitions
---------------------------------------------------------------*/

main button {
    -webkit-transition-property: background;
    transition-property: background;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

main button:hover {
    background: tomato !important;
}

.overlay button {
    opacity: 0;
    border-radius: 10px;
    position: relative;
    -webkit-transition-property: opacity, -webkit-box-shadow;
    transition-property: opacity, -webkit-box-shadow;
    transition-property: opacity, box-shadow;
    transition-property: opacity, box-shadow, -webkit-box-shadow;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-delay: 0.2s, 0s;
    transition-delay: 0.2s, 0s;
}

.overlay button:hover {
    opacity: 1 !important;
    -webkit-box-shadow: 0 0 0 2px rgba(255, 255, 255, .7);
    box-shadow: 0 0 0 2px rgba(255, 255, 255, .7);
}

.overlay:hover button {
    opacity: 0.7;
    background: #4a89ca !important;
}


/* -------------------------------------------------------------
      Button icon transitions
---------------------------------------------------------------*/

.btn-icon {
    opacity: 0;
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url('../img/download.svg');
    position: absolute;
    left: 45%;
    -webkit-transition-property: opacity, left;
    transition-property: opacity, left;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.overlay button:hover .btn-icon {
    opacity: 1;
    left: 70%;
}


/* -------------------------------------------------------------
      Image Transforms and Transitions
---------------------------------------------------------------*/


/* ------------- logo selected --------------*/

.logo {
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.logo:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}


/* ------------ 1st image selected ----------*/

img[src*="photos/1"] {
    -webkit-transition: .4s;
    transition: .4s;
}

img[src*="photos/1"]:hover {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, .5);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .5);
}


/* ------------ 2nd image selected ----------*/

img[src*="photos/2"] {
    -webkit-transition: .4s;
    transition: .4s;
}

img[src*="photos/2"]:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}


/* ------------ 3rd image selected ----------*/

img[src*="photos/3"] {
    -webkit-transition: .4s;
    transition: .4s;
}

img[src*="photos/3"]:hover {
    -webkit-transform: rotate(-5deg) scale(1.1) translateY(-20px);
    transform: rotate(-5deg) scale(1.1) translateY(-20px);
}


/* ------------ 4th, 5th and 6th images selected ----------*/

.photo{
    overflow: hidden;
}

.photo img {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.photo-container:nth-child(n+4):nth-child(-n+6):hover img {
    -webkit-transition: .6s;
    transition: .6s;
}

.photo-container:nth-child(n+4):nth-child(-n+6):hover img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
