/* -------------------------------------------------------------
      Photos overlay transitions
---------------------------------------------------------------*/

.overlay {
    opacity: 0;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.overlay:hover {
    opacity: 1;
}


/* -------------------------------------------------------------
      Button transitions
---------------------------------------------------------------*/

main button {
    -webkit-transition-property: background;
    transition-property: background;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

main button:hover {
    background: tomato !important;
}

.overlay button {
    opacity: 0;
    border-radius: 10px;
    position: relative;
    -webkit-transition-property: opacity, -webkit-box-shadow;
    transition-property: opacity, -webkit-box-shadow;
    transition-property: opacity, box-shadow;
    transition-property: opacity, box-shadow, -webkit-box-shadow;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-delay: 0.2s, 0s;
    transition-delay: 0.2s, 0s;
}

.overlay button:hover {
    opacity: 1 !important;
    -webkit-box-shadow: 0 0 0 2px rgba(255, 255, 255, .7);
    box-shadow: 0 0 0 2px rgba(255, 255, 255, .7);
}

.overlay:hover button {
    opacity: 0.7;
    background: #4a89ca !important;
}


/* -------------------------------------------------------------
      Button icon transitions
---------------------------------------------------------------*/

.btn-icon {
    opacity: 0;
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url('../img/download.svg');
    position: absolute;
    left: 45%;
    -webkit-transition-property: opacity, left;
    transition-property: opacity, left;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.overlay button:hover .btn-icon {
    opacity: 1;
    left: 70%;
}


/* -------------------------------------------------------------
      Image Transforms and Transitions
---------------------------------------------------------------*/


/* ------------ 1st image selected ----------*/

img[src*="photos/1"] {
    -webkit-transition: .4s;
    transition: .4s;
}

img[src*="photos/1"]:hover {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, .5);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .5);
}
